# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* List popular languages for Data Science
* List Data Science libraries
* List Data Science tools
* Introducing Arithmetic Expression Examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scipy

|Data Science Tools|
--------------------
|Jupyter Notebooks|
|Scikit-learn|
|Seaborn|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Isaac A. Armah